main {
	padding: 5px;
	background-color: #f5f5f5;
}

.testimonial {
	padding: 10px;
	border: 1px solid #ccc;
	background-color: white;
	margin-bottom: 10px;
}

.author {
	text-align: right;
	font-style: italic;
}